<#include "admin/common/include/html_head.html"> <#include
"admin/common/include/sysparam.html"> <#include
"admin/common/include/pagination.html">
<script src="${contextPath}/ckeditor/ckeditor.js"></script>
<script src="${contextPath}/ckeditor/adapters/jquery.js"></script>
<style>
#editable {
	padding: 10px;
	float: left;
}
</style>

<div class="row-fluid">
	<div class="span12">
		<!-- BEGIN EXTRAS PORTLET-->
		<div class="portlet box blue">
			<div class="portlet-title">
				<div class="caption">
					<i class="icon-reorder"></i>资源编辑
				</div>
			</div>
			<div class="portlet-body form">  
			 	<div class="tabbable tabbable-custom boxless">

							<ul class="nav nav-tabs">

								<li class="active"><a href="#tab_1" data-toggle="tab">基本信息</a></li>

								<li><a class="" href="#tab_2" data-toggle="tab">资源图片</a></li>

							 	<li><a class="" href="#tab_3" data-toggle="tab">资源介绍</a></li>

								<li><a class="" href="#tab_4" data-toggle="tab">资源属性</a></li>
								
								<li><a class="" href="#tab_5" data-toggle="tab">资源参数</a></li>
								
								<li><a class="" href="#tab_6" data-toggle="tab">资源规格</a></li>
							</ul>
  
							<div class="tab-content">
						 
								<div class="tab-pane active" id="tab_1">
									<#include "admin/res/resbase.html">
			 					</div>
		 						<div class="tab-pane" id="tab_2">
									<#include "admin/res/screenshot.html">
			 					</div>
		 						<div class="tab-pane" id="tab_3">
									<#include "admin/res/resdetail.html">
			 					</div>
			 					
			 				</div>
			 				 
	 				</div> 
			 				
			</div>
		</div>
		<!-- END EXTRAS PORTLET-->
	</div>
</div>
 

