<#include "admin/common/include/sysparam.html">
 

<div id="navModel" class="modal hide fade" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true" >
	<div class="modal-header green">
	 
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		<h4 id="myModalLabel">
			<strong>资源分类编辑</strong>
		</h4>
	</div>
	<div class="alert alert-error " id="errtip" style="display: none;"></div>

	<div class="modal-body" style="max-height: 450px;">
		<!-- BEGIN FORM-->
		<form action="${contextPath}/Admin-ResCategory-save.action"
			id="categoryAddForm" class="form-horizontal" method="post">
			<input type="hidden" name="id" value="${(bean.id)?if_exists}" />  
			<div class="control-group">
			<div class="control-group">
			<label class="control-label">父节点<span class="required">*</span></label>
				<div class="controls">
					<input type="hidden" name="parentid" id="parentid"  value="${(bean.parentid)?if_exists}" />
					<input type="text" class="m-wrap medium" value="${(bean.parentName)?if_exists}" readonly="readonly"/>
				</div>
			</div> 
			<label class="control-label">分类名称<span class="required">*</span></label>
				<div class="controls">
					<input type="text" name="name" id="name" require="true"
						datatype="require"  msg="分类名称不能为空"
						class="m-wrap medium" value="${(bean.name)?if_exists}" />
				</div>
			</div> 
			<div class="control-group">
				<label class="control-label">级别<span class="required">*</span></label>
				<div class="controls">
					<input type="text" name="level" id="level" require="true"
						datatype="require|limit|number" min="1" max="2" msg="key不能为空"
						class="m-wrap medium" value="${(bean.level)?if_exists}" />
				</div>
			</div> 
		    <div class="control-group">
				<label class="control-label">排位</label>
				<div class="controls">
					<input name="sort" id="sort" type="text" class="m-wrap medium"
						value="${(bean.sort)?if_exists}" require="true" datatype="require"
						msg="排位不能为空" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">是否有效<span class="required">*</span></label>
				<div class="controls"><@select paramCode=iseffCode
					value=(bean.iseff)?if_exists item=' name="iseff" require="true"
					datatype="require" msg="是否有效不能为空"'/></div>
			</div>

			<div class="modal-footer">
				<button type="button" id="category_save_btn" class="btn green">保存</button>
				<button class="btn " data-dismiss="modal" aria-hidden="true">关闭</button>
			</div>
		</form>
		<!-- END FORM-->
	</div>
</div>

<script>
	jQuery(document).ready(function() {
		tableAction.initSaveAction({
			formId : 'categoryAddForm',
			queryUrl : '${contextPath}/Admin-ResCategory-show.action',
			saveUrl : '${contextPath}/Admin-ResCategory-save.action',
			saveBtnId : 'category_save_btn'
		});
	});
</script>