<#include "admin/common/include/html_head.html"> <#include
"admin/common/include/sysparam.html"> <#include
"admin/common/include/pagination.html">
<div class="row-fluid">
	<div class="span12">
		<!-- BEGIN EXAMPLE TABLE PORTLET-->
		<div class="portlet box blue">
			<div class="portlet-title">
				<div class="caption">
					<i class="icon-reorder"></i>资源管理
				</div>
			</div>
			<div class="portlet-body form">
				<form id="templateSearchForm">
					<div class="row-fluid">
						<div class="span6">
							<div class="dataTables_filter" id="sample_1_filter">
								<label>标题: <input type="text" aria-controls="sample_1"
									value="${_QUERY_s_eq_name}" class="span1 m-wrap medium"
									name="_QUERY_s_eq_name" id="_QUERY_s_eq_name"></label>
							</div>
						</div>
						<div class="span6">
							<div class="dataTables_filter" id="sample_1_filter">
								<label>是否有效: <@select paramCode=iseffCode
									value=(_QUERY_n_eq_iseff)?if_exists item='
									name="_QUERY_n_eq_iseff"'/></label>
							</div>
						</div>
					</div>
				</form>

				<div class="alert alert-error " id="errTip" style="display: none;"></div>
				<div class="alert alert-success " id="sucTip" style="display: none;"></div>
				<div class="tab-pane active" id="tab_1">
					<div class="portlet-body">
						<div class="clearfix">
							<button id="template_query_btn" class="btn blue">
								<i class="icon-search"></i>&nbsp;&nbsp;查询
							</button>
							<button id="template_add_btn" class="btn blue">
								<i class="icon-plus"></i>&nbsp;&nbsp;新增
							</button>
							<button id="template_del_btn" class="btn blue">
								<i class="icon-trash"></i>&nbsp;&nbsp;删除
							</button>
						</div>
						<br>
						<form action="${_contextPath}/Admin-Template-show.action"
							id="QueryForm">
							<table class="table table-striped table-bordered table-hover"
								id="templateTable">
								<thead>
									<tr>
										<th style="width: 8px;"><input type="checkbox"
											class="group-checkable" data-set="#templateTable .checkboxes" /></th>
										<th>模板名称</th>
										<th>模板路径</th>
										<th>模板关联key</th>
										<th>是否有效</th>
										<th>操作</th>
									</tr>
								</thead>
								<tbody>
									<#list pageBean.result as tt >
									<tr class="odd gradeX">
										<td><input type="checkbox" class="checkboxes"
											value="${tt.id}" /></td>
										<td>${tt.name}</td>
										<td>${tt.templatePath}</td>
										<td>${tt.groupKeysTranslate}</td>
										<td><@translate paramCode=iseffCode
											value=(tt.iseff)?if_exists /></td>
										<td><a href='#' name="edit_action" value="${tt.id}"><i
												class="icon-edit"></i></a></td>
									<tr></#list>
								</tbody>
							</table>
						</form>
						<@pagination searchFormId='templateSearchForm' pBean=pageBean />
					</div>
				</div>

			</div>
			<!-- END EXAMPLE TABLE PORTLET-->
		</div>
	</div>
</div>

<script>
	jQuery(document).ready(function() {
		tableAction.init({
			tableId : 'templateTable',
			queryUrl : '${contextPath}/Admin-Template-show.action',
			deleteUrl : '${contextPath}/Admin-Template-delete.action',
			editUrl : '${contextPath}/Admin-Template-showEditForm.action',
			queryBtnId : 'template_query_btn',
			deleteBtnId : 'template_del_btn',
			searchFormId : 'resSearchForm',
			isPopEditForm : false,
			editBtnId : 'template_add_btn'
		});

	});
</script>
