<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->

<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->

<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->

<!-- BEGIN HEAD -->

<head>

	<meta charset="utf-8" />

	<title>Metronic | Extra - Image Manager</title>

	<meta content="width=device-width, initial-scale=1.0" name="viewport" />

	<meta content="" name="description" />

	<meta content="" name="author" />

	<!-- BEGIN GLOBAL MANDATORY STYLES -->

	<link href="admin/media/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>

	<link href="admin/media/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>

	<link href="admin/media/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

	<link href="admin/media/css/style-metro.css" rel="stylesheet" type="text/css"/>

	<link href="admin/media/css/style.css" rel="stylesheet" type="text/css"/>

	<link href="admin/media/css/style-responsive.css" rel="stylesheet" type="text/css"/>

	<link href="admin/media/css/default.css" rel="stylesheet" type="text/css" id="style_color"/>

	<link href="admin/media/css/uniform.default.css" rel="stylesheet" type="text/css"/>

	<!-- END GLOBAL MANDATORY STYLES -->

	<!-- BEGIN PAGE LEVEL STYLES --> 

	<link href="admin/media/css/jquery.fancybox.css" rel="stylesheet" />

	<link href="admin/media/css/chosen.css" rel="stylesheet" type="text/css"/>

	<!-- END PAGE LEVEL STYLES -->   

	<link rel="shortcut icon" href="admin/media/image/favicon.ico" />

</head>

<!-- END HEAD -->

<!-- BEGIN BODY -->
 

	 <div class="span3">

										<div class="item">

											<a class="fancybox-button" data-rel="fancybox-button" title="Photo" href="admin/media/image/image3.jpg">

												<div class="zoom">

													<img src="admin/media/image/image3.jpg" alt="Photo" />                             

													<div class="zoom-icon"></div>

												</div>

											</a>

											<div class="details">

												<a href="#" class="icon"><i class="icon-paper-clip"></i></a>

												<a href="#" class="icon"><i class="icon-link"></i></a>

												<a href="#" class="icon"><i class="icon-pencil"></i></a>

												<a href="#" class="icon"><i class="icon-remove"></i></a>    

											</div>

										</div>

									</div>

	<!-- END FOOTER -->

	<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->

	<!-- BEGIN CORE PLUGINS -->

	<script src="admin/media/js/jquery-1.10.1.min.js" type="text/javascript"></script>

	<script src="admin/media/js/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>

	<!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->

	<script src="admin/media/js/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>      

	<script src="admin/media/js/bootstrap.min.js" type="text/javascript"></script>

	<!--[if lt IE 9]>

	<script src="admin/media/js/excanvas.min.js"></script>

	<script src="admin/media/js/respond.min.js"></script>  

	<![endif]-->   

	 
	<!-- END CORE PLUGINS -->

	<!-- BEGIN PAGE LEVEL PLUGINS -->

	<script src="admin/media/js/jquery.fancybox.pack.js"></script>   

	<script type="text/javascript" src="admin/media/js/chosen.jquery.min.js"></script>

	<!-- END PAGE LEVEL PLUGINS -->

	<!-- BEGIN PAGE LEVEL SCRIPTS -->

	<script src="admin/media/js/app.js"></script>   

	<script src="admin/media/js/gallery.js"></script>  

	<!-- END PAGE LEVEL SCRIPTS -->

	<script>

		jQuery(document).ready(function() {       

		   // initiate layout and plugins

		   App.init();

		   Gallery.init();

		});

	</script>

	<!-- END JAVASCRIPTS -->

<script type="text/javascript">  var _gaq = _gaq || [];  _gaq.push(['_setAccount', 'UA-37564768-1']);  _gaq.push(['_setDomainName', 'keenthemes.com']);  _gaq.push(['_setAllowLinker', true]);  _gaq.push(['_trackPageview']);  (function() {    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);  })();</script> 