<#include "admin/common/include/html_head.html"> <#include
"admin/common/include/sysparam.html"> <#include
"admin/common/include/pagination.html">
 

<div class="row-fluid">
<div class="alert alert-error " id="errTip" style="display: none;"></div> 
 
	<div class="span12">
		<!-- BEGIN EXTRAS PORTLET-->
		<div class="portlet box blue">
			<div class="portlet-title">
				<div class="caption">
					<i class="icon-reorder"></i> 退款原因
				</div>
			</div>
			<div class="portlet-body form">
				<div class="control-group">
					<label class="control-label">退款类型:${orderRefund.type}</label>
				</div>
				
				<div class="control-group">
					<label class="control-label">退款原因:${orderRefund.reasonType}</label>
				</div>
				<div class="control-group">
					<label class="control-label">详细说明:${orderRefund.reason}</label>
				</div> 
			</div>

		</div>
		<div class="portlet box blue">
			<div class="portlet-title">
				<div class="caption">
					<i class="icon-reorder"></i>买家信息
				</div>
			</div>
			<div class="portlet-body form">
				<div class="control-group">
					<label class="control-label">客户名称：${customer.name}</label>
				</div>

				<div class="control-group">
					<label class="control-label">联系电话：${customer.phone}</label>
				</div>
			</div>
		</div>
		 
		<div class="portlet box blue">
			<div class="portlet-title">
				<div class="caption">
					<i class="icon-reorder"></i>物流信息：${orderRefund.cargoName} ${orderRefund.cargoNumber}
				</div>
			</div>
			<div class="portlet-body form">
				<div class="control-group">
					<label class="control-label">状态：${expressResp.statusStr}</label>
				</div>
				<#list expressResp.data as data >
				<div class="control-group">
					<label class="control-label">${data.time}----${data.context}</label>
				</div> 
			    </#list> 
			</div>
		</div> 
		 
		<div class="modal-footer">
		  
		     <#if orderRefund.status='1'>
		    	 <button type="button" id="refund_confirm_btn" class="btn green">同意客户退货</button>
		     </#if>
	         <#if orderRefund.status='4' || orderRefund.status='5'>
		    	 <button type="button" id="refund_finished_btn" class="btn green">同意退货</button>
		     </#if>
			 <button type="button" id="orderdetail_return_btn" class="btn green">返回</button>
		</div>
		<!-- END EXTRAS PORTLET-->
	</div>
</div>

<script>
jQuery(document).ready(function() { 
var _errZoneId ="errTip";
var orderDetailId = '${(orderRefund.orderDetailId)?if_exists}';
var queryUrl = '${contextPath}/Admin-OrderRefund-sellerArgeeRefund.action?orderDetailId='+orderDetailId;  
$("#refund_confirm_btn").bind("click", function() {
	common.alert({
			content : '是否同意客户退货？',
			showAction : true,
			actionContent : '确定',
			actionFn : function() {
				var url = '${contextPath}/Admin-OrderRefund-sellerArgeeRefund.action?orderDetailId='+orderDetailId; 
				ajax.syncJsonRequest({
					url : url,
					success : function(data) {
						if (!data || !data.success) {
							$('#'+_errZoneId).html(data.retinfo);
							$('#'+_errZoneId).show();
						}
						if (data.success) {
							common.alert({
								content : data.retinfo,
								closeFn : function() {
									 mainFrame.addContainer(queryUrl); 
								}
							});
						}
					}
				});
			}
		}); 
	});
	
$("#refund_finished_btn").bind("click", function() {
	common.alert({
			content : '是否同意退款？',
			showAction : true,
			actionContent : '确定',
			actionFn : function() {
				var url = '${contextPath}/Admin-OrderRefund-sellerRefund.action?orderDetailId='+orderDetailId; 
				ajax.syncJsonRequest({
					url : url,
					success : function(data) {
						if (!data || !data.success) {
							$('#'+_errZoneId).html(data.retinfo);
							$('#'+_errZoneId).show();
						}
						if (data.success) {
							common.alert({
								content : data.retinfo,
								closeFn : function() {
									 mainFrame.addContainer(queryUrl); 
								}
							});
						}
					}
				});
			}
		}); 
	});
 
});
</script>

