<#include "admin/common/include/html_head.html">
<!-- BEGIN BODY -->
<link href="${contextPath}/admin/media/css/login.css" rel="stylesheet"
	type="text/css" />
<body class="login">

	<div class="logo">

		<img src="media/image/logo-big.png" alt="" />

	</div>

	<!-- END LOGO -->

	<!-- BEGIN LOGIN -->

	<div class="content">

		<!-- BEGIN LOGIN FORM -->

		<form class="form-vertical login-form" id="loginForm"   onsubmit="return login();">

			<h3 class="form-title">登陆</h3>
			<div class="alert alert-error " id="errtip" style="display: none;"></div>
			 
			<div class="control-group">

				<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->

				<label class="control-label visible-ie8 visible-ie9">用户名</label>

				<div class="controls">

					<div class="input-icon left">

						<i class="icon-user"></i> <input class="m-wrap placeholder-no-fix"
							type="text" placeholder="用户名" name="username"  require="true"
								datatype="require" type="text" min="1" max="20"
								msg="用户名不能为空"  />

					</div>

				</div>

			</div>

			<div class="control-group">

				<label class="control-label visible-ie8 visible-ie9">密码</label>

				<div class="controls">

					<div class="input-icon left">

						<i class="icon-lock"></i> <input class="m-wrap placeholder-no-fix"
							type="password" placeholder="密码" name="password" require="true"
								datatype="require" type="text" min="1" max="20"
								msg="密码名不能为空"/>

					</div>

				</div>

			</div>

			<div class="form-actions">
				<button  type="button"  class="btn green pull-right" id="loginBtn">

					登陆 <i class="m-icon-swapright m-icon-white"></i>

				</button>

			</div>


		</form>

	</div>

</body>
<script>
	jQuery(document).ready(function() {
		$("#loginBtn").bind("click", function() { 
			login();
		});
	});
	
	function login(){  
			var valResult = AI.Validator.validForm("loginForm", 1, "errtip");
			if (!valResult)
				return; 
			var param = $("#loginForm").serialize();  
			ajax.syncJsonRequest({
				url : "${contextPath}/Public-Login-userLogin.action",
				param : param,
				success : function(data) { 
					if (!data || !data.success) {
						$('#errtip').html(data.retinfo);
						$('#errtip').show();
					}
					if (data.success) {
						location.href= "${contextPath}/Admin-Main-show.action" 
					}
				}
			});
		 
	}
</script>

<#include "admin/common/include/html_bottom.html">
