<#include "admin/common/include/html_head.html">
<!-- BEGIN BODY -->

<body class="page-header-fixed">

	<!-- BEGIN HEADER-->
		<#include "admin/nav.html">

	<!-- END HEADER -->
	<!-- BEGIN CONTAINER -->
	<div class="page-container"> 


		<!-- BEGIN SIDEBAR -->
		<#include "admin/menu.html">
		<!-- END SIDEBAR -->
		
		<!-- BEGIN PAGE -->
		<div class="page-content">
			<!-- BEGIN PAGE CONTAINER-->
			<div class="container-fluid" id="main-container"></div>
			<!-- END PAGE CONTAINER-->
		</div>
		<!-- END PAGE -->
	</div>
	<!-- END CONTAINER -->
	<!-- BEGIN FOOTER -->
	<div class="footer">
		<div class="footer-inner">2015 &copy; weboss by ewing company.</div>
	</div>
</body>
<script>
	$(document)
			.ready(
					function() {
						var dashboardUrl = '${contextPath}/Busi-Html-redirect.action?page=admin/dashboard.html';
						mainFrame.addContainer(dashboardUrl);
					});
</script>
<#include "admin/common/include/html_bottom.html">
