 
<div class="page-sidebar nav-collapse collapse">
	<!-- BEGIN SIDEBAR MENU -->
	<ul class="page-sidebar-menu" >
 
		<#list menuList as menu> 
		   <#if menu.level = '1'>  
        		<li class="notactive"> 
       			<a href="#"
        			<#if menu.hrefTarget ?? >
        			onclick="mainFrame.addContainer('${menu.hrefTarget}');"
        			</#if> > 
        			<i class="${menu.iconCls}"></i> 
        			<span class="title">${menu.text}</span> <span
				class="selected"></span></a>
				<#if menu.children?size gt 0 >
				<ul class="sub-menu"   > 
					<#list  menu.children as childMenu >  
			         <li class="notactive" onclick="mainFrame.clickMenu(this);"> 
        			     <a href="#" onclick="mainFrame.addContainer('${childMenu.hrefTarget}');" >${childMenu.text}</a>
       			     </li> 
					</#list> 
					</ul>
				</#if> 
			</a></li>
			</#if>
		</#list>
	</ul>
	<!-- END SIDEBAR MENU -->
</div>