<div class="navbar-inner">

	<div class="container-fluid">

		<!-- BEGIN LOGO -->
		<a class="brand"> <img
			src="${contextPath}/admin/media/image/logo.png" alt="logo" />
		</a>
		<!-- END LOGO -->
	</div>
	<div style="margin-left: 250px;" class="topnav"> 
	  <#assign topMenuIndex=0>
		<#list menuList as menu>  
		   <#if menu.level = '1'>  
		    <#assign topMenuIndex=topMenuIndex+1> 
      		  	<a href="#" onclick="mainFrame.clickTopMenu(this);" menuId="${menu.id}" <#if topMenuIndex = 1 >
      		  	            class="btn blue blue-stripe"
      		  	           <#else>  
					class="btn   blue-stripe"
				</#if>
      		  	     >
			&nbsp;&nbsp;${menu.text}&nbsp;&nbsp;</a>
			</#if>
		</#list>
		 
	</div>
</div>